@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#navbar{
    height: 100px;
    width: 100%;
    background-color: #131313;
    color: #fff;
}

a{
    color: #000;
    background-color: #fff;
    padding: 4px;
    font-size: 45px;
    border-radius: 30px;
}

.click{
    border-radius: 50px;
}

#click-parent{
    height: calc(100% - 100px);
}